@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
html , body {
    display: grid;
    height: 100%;
    place-items: center;
    background-color: #dad8ce;
}
.container{
    width: 400px;
    background-color: #eee;
    border-radius: 5px;
    position: relative;
    box-shadow: 1px 1px 1px gray;
}
.login {
   width: 100%;
   line-height: 40px;
   background-color: #16ee13;
   border-radius: 5px 5px 0 0;
   padding: 10px 20px;
   color: #eee;
   font-size: 20px;
   font-weight: bold;
}
form{
    margin: 10px 20px;
    cursor: pointer;
}
form .row{
    width: 100%;
    position: relative;
    margin: 20px 0;
}
form input{
    width: 100%;
    padding: 10px 0 10px 55px;
    border: none;
    outline: none;
    border-radius: 0 5px 5px 0;

}
form .row i{
    position: absolute;
    width: 50px;
    height: 100%;
    background-color: #16ee13;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #eee;
    font-size: 15px;
    border-radius: 5px 0 0 5px;

}
.forgot{
    margin: -10px 0 20px 0;
}
.forgot a{
    color: #16ee13;
    text-decoration: none;
}
.hover a:hover{
    text-decoration: underline;
}
button{
    width: 100%;
    padding: 8px 0;
    color: #eee;
    font-size: 15px;
    font-weight: bold;
    background-color: #16ee13;
    border-radius: 5px;
    border: none;
}
.number{
    width: 100%;
    margin: 20px 0;
    text-align: center;
}
.number span{
    color: gray;
}
.number a{
    color: #16ee13;
    text-decoration: none;
}